
.form{
  border: 1px solid black;

  border-radius: 20px;
  width: 350px;
  position: relative;
  margin-left: 35%;
  margin-top: 5%;
}
h3{
  margin-top: 10px;
  text-align: center;
}
.fields{
  margin-left: 20px;
  padding: 5px;
}
input{
  width: 95%;
  height: 25px;
  border:1px solid grey;
  border-radius: 20px;
  padding-left: 10px;
}
button{
  margin-left: 20px;
  background-color:brown;
  width: 90%;
  margin:20px;
  border-style: none;
  height: 30px;
  color: white;
  border-radius: 20px;
}
button:hover{
  background-color: crimson;
}
.errorinfo{
  border-radius: 20px;
  background-color: #FAA0A0;
  width: 87%;
  height: 25px;
  padding-left: 15px;
  margin-left: 25px;
  margin-top: 10px;
  color: #DC143C;

}
