<!--<<h2>Welcome</h2>
<app-books></app-books>
<app-cart></app-cart>>-->
<nav class="title navbar navbar-expand-lg navbar-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="">Book Shop</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav ml-auto">
        <a class="nav-link active" aria-current="page" href="/cart">My Cart</a>
        <ng-container *ngIf="!isAuthenticated()">
          <a class="nav-link active" aria-current="page" href="/login">Login</a>
          <a class="nav-link active" aria-current="page" href="/register">Register</a>
        </ng-container>
        <ng-container *ngIf="isAuthenticated()" >
           <button (click)="logout()">Logout</button>
        </ng-container>
      </ul>
    </div>
  </div>
</nav>
<div>
  <router-outlet></router-outlet>
</div>

